body {
  background:#ddd;
  font-family: 'Montserrat', sans-serif;
}
.center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.popup {
  width:310px;
  height:220px;
  padding:30px 20px;
  background:#F8EAFF;
  color:#073170;
  border-radius:10px;
  box-sizing:border-box;
  z-index:2;
  text-align:Center;
  border:3px solid #4B0B9D;
  opacity:0;
  top:-200%;
  transform:translate(-50%,-50%) scale(0.5);
  transition: opacity 300ms ease-in-out,top 1000ms ease-in-out,transform 1000ms ease-in-out;
}
.popup.active {
  opacity:1;
  top:50%;
  transform:translate(-50%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}
.popup .icon {
  margin:5px 0px;
  width:50px;
  height:5px;
  text-align:center;
  display:inline-block;
  border-radius:50%;
  line-height:60px;
}
.popup .icon i.fa {
  font-size:30px;
  color:#34f234;
} 
.popup .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.popup .green-btn {
  margin-top:15px;
}
.popup .green-btn button {
  padding:10px 15px;
  background:#B6E13D;
  color:#5C6C2F;
  border:none;
  font-size:30px;
  text-align:Center;
  outline:none;
  border-radius:13px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
  float: left;
}
.popup .green-btn button:hover {
  color:#FFFFFF;
  background:#B6E13D;
}
.popup .orange-btn {
  margin-top:15px;
}
.popup .orange-btn button {
  padding:10px 15px;
  background:#FFAD0E;
  color:#986503;
  border:none;
  font-size:30px;
  text-align:Center;
  outline:none;
  border-radius:13px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
  display: inline-block;
  margin: 0 auto;
}
.popup .orange-btn button:hover {
  color:#FFFFFF;
  background:#FFAD0E;
}
.popup .red-btn {
  margin-top:15px;
}
.popup .red-btn button {
  padding:10px 15px;
  background:#E73E30;
  color:#F5A29B;
  border:none;
  font-size:30px;
  text-align:Center;
  outline:none;
  border-radius:13px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
  float: right;
}
.popup .red-btn button:hover {
  color:#FFFFFF;
  background:#E73E30;
}
.popup > div {
  position:relative;
  top:10px;
  opacity:0;
}
.popup.active > div {
  top:0px;
  opacity:1;
}
.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .green-btn {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .orange-btn {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .red-btn {
  transition: all 300ms ease-in-out 300ms;
}