body {
  background:#ddd;
  font-family: 'Montserrat', sans-serif;;
}
.center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.container {
  display:flex;
  align-items:center;
  }
 
.img {
  max-width:20px;
  vertical-align:middle;
}
.popup {
  width:440px;
  height:500px;
  padding:30px 20px;
  background:#F8EAFF;
  color:#073170;
  border-radius:10px;
  box-sizing:border-box;
  z-index:2;
  text-align:center;
  border:3px solid #4B0B9D;
  opacity:0;
  top:-200%;
  transform:translate(-50%,-50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}
.popup.active {
  opacity:1;
  top:50%;
  transform:translate(-50%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}
.popup .icon {
  margin:5px 0px;
  width:50px;
  height:5px;
  text-align:Left;
  display:inline-block;
  border-radius:50%;
  line-height:60px;
}
.popup .icon i.fa {
  font-size:30px;
  color:#34f234;
} 
.popup .description {
  color:#073170;
  font-size:15px;
  padding:5px;
  display:inline; 
  text-align:Left;
  font-family: 'Montserrat', sans-serif;
}
.popup .gotit-btn {
  margin-top:15px;
}
.popup .gotit-btn button {
  padding:10px 30px;
  background:linear-gradient(#A1B0FF,#FBCBFF);
  color:#073170;
  border:3px solid #4B0B9D;
  text-align:Center;
  font-size:16px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  cursor:pointer;
  transition: all 300ms ease-in-out;
  font-family: 'Montserrat', sans-serif;
}
.popup .gotit-btn button:hover {
  color:#FFFFFF;
  background:linear-gradient(#A1B0FF,#FBCBFF);
}
.popup > div {
  position:relative;
  top:10px;
  opacity:0;
}
.popup.active > div {
  top:0px;
  opacity:1;
}
.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .description {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .dismiss-btn {
  transition: all 300ms ease-in-out 300ms;
}