
{% extends "layout.html" %}
{% block content %}

    <div id="chat">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" async></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous" async></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        <button id="new-walk">New Walk</button>
        <button id="create-notification">Create Notification</button>
        {% for user in all_users %}
        <div id=chatbox>

            <button id=chat_with_{{user.username}}>Chat with {{user.username}}</button>
            <div id="show_chat_{{user.username}}" class=show_chat>
                <ul id={{user.username}}></ul>
                <br>
                Message: <input type="text" id="input_text_{{user.username}}">
                <button id=button_{{user.username}}>Send to {{user.username}}</button>
            </div>
        </div>
        <br>
        {% endfor %}
        <br>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
    <script src="{{ url_for('static', filename='notifications.js') }}"></script>

    </div>

    <script type=text/javascript>

    let map;
    let all_markers = [];
function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 31.771959, lng: 35.217018 },
    zoom: 15,
  });
  infoWindow = new google.maps.InfoWindow();
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      (position) => {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        };

        const URL = '/home'
        const xhr = new XMLHttpRequest();
        let sender = JSON.stringify([position.coords.latitude, position.coords.longitude])
        xhr.open('POST', URL);
        xhr.send(sender);

        //infoWindow.setPosition(pos);
        //infoWindow.setContent("Location found.");
        //infoWindow.open(map);
        map.setCenter(pos);
      },
      () => {
        handleLocationError(true, infoWindow, map.getCenter());
      }
    );
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
    map.setCenter({
      lat: 31.771959,
      lng: 35.217018,
    });

  }
 initializeMarkers();
}

function UpdateUserLocation() {

   if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      (position) => {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        };

        const URL = '/update_user_location'
        const xhr = new XMLHttpRequest();
        let sender = JSON.stringify([position.coords.latitude, position.coords.longitude])
        xhr.open('POST', URL);
        xhr.send(sender);
      },
    );
  }
}

function initializeMarkers() {
     fetch("/api/locations")
      .then(function (response) {
        return response.json();
      })
      .then(function (all_locations) {
        addMarkers(all_locations);
      })
}

function addMarkers(all_locations){
    for (let i = 0; i < all_locations.length; i++) {
              const marker = new google.maps.Marker({
                  position: new google.maps.LatLng(all_locations[i].pos_x, all_locations[i].pos_y),
                  icon: all_locations[i].image,
                  map: map,
              });
              all_markers.push(marker);

              marker.addListener("click", () => {
            //openChatWithTarget(features[i].userName);
            map.setZoom(18);
            map.setCenter(marker.getPosition());
      });
          }
}

function updateMarkers(){
     fetch("/api/locations")
      .then(function (response) {
        return response.json();
      })
      .then(function (all_locations) {

           // remove all users locations
        for (let i = 0; i < all_locations.length; i++) {
            all_markers[i].setMap(null);
      }
      all_markers = [];

          // update all users locations
        addMarkers(all_locations);
      })
}

const interval = setInterval(function() {
   UpdateUserLocation();
   updateMarkers();
 }, 5000);

function openChatWithTarget(userName){

    let chatDiv = document.getElementById("chat");
    let chatHeader = document.getElementById("chatHeader");
    chatHeader.innerHTML  = "Chat With " + userName
    console.log("Chatting with: " + userName);

    chatDiv.style.display = "block";
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(
    browserHasGeolocation
      ? "Error: The Geolocation service failed."
      : "Error: Your browser doesn't support geolocation."
  );
  infoWindow.open(map);
}
    </script>

<div id="map"></div>
  <script
      src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly"
      async
    ></script>



{% endblock content %}