<!DOCTYPE html>
<html>
<head>
	<title>My Profile</title>
	<link rel="shortcut icon" href="../../static/smallpaw.svg" />
	<style type="text/css">
		.topbar a .icon .far .fa-user-circle {
			color: #FFF;
		}
	</style>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
 <!-- till here from dekel -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
	<script src="https://kit.fontawesome.com/0f6d5f5ca6.js" crossorigin="anonymous"></script>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="body-profile">
	<div class="topbar">
				<a href="mapflow/PAGE D.html">
					<div class="icon">
						<i class="far fa-map" aria-hidden="true"></i>
						<i class="far fa-map" aria-hidden="true"></i>
					</div>
				</a>
				<a href="#">
					<div class="icon">
						<i class="far fa-bell" aria-hidden="true"></i></i>
						<i class="far fa-bell" aria-hidden="true"></i></i>
					</div>
				</a>
				<a href="chat-page.html">
					<div class="icon">
						<i class="far fa-comments" aria-hidden="true"></i>
						<i class="far fa-comments" aria-hidden="true"></i>
					</div>
				</a>
				<a href="profile1.html">
					<div class="icon">
						<i class="far fa-user-circle" style="color: #FFF" aria-hidden="true"></i>
						<i class="far fa-user-circle" aria-hidden="true"></i>
					</div>
				</a>
				<!-- <a href="">log out</a> -->
				<!-- <a href="">map view</a>
				<a href="">settings</a>
				<a href="">chat</a> -->
			</div>
	<div class="profile-container">
		<div class="main-profile">
			
			<div class="row justify-content-start align-items-end">
				<div class="col-sm-4">
					<img src="../../static/kim_dog.svg" width="300">
				</div>
				<div class="col-sm-8">
					<a href="settings-united.html">Settings</a>
					<a href="">Favorites</a>
					<a href="">Edit</a>
					<a href="">Friends</a>
				</div>

			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="card mb-3 content" id="doginfo">
						<div class="card-body">
							<div class="row">
								<div class="row">
									<h5><strong>Kim Kardashian</strong></h5>
								</div>
								<div class="col-md9 text-secondary">
									Female
								</div>
								<div class="col-md9 text-secondary">
									30 years old
								</div>
								<div class="col-md9 text-secondary">
									Rehovot
								</div>
								<div class="col-md9 text-secondary">
									Law student, Entrepreneur
								</div>
							</div>
							<hr>
							<div class="row" id="ownerdesc">
								<div class="row">
									<h5><strong>Description</strong></h5>
								</div>
								<div class="col-md-9 text-secondary">
									Kimberly Noel Kardashian is an American media personality, socialite, model, businesswoman, producer, and actress. 
								</div>
							</div>
							<hr>
						</div>
					</div>
				</div>	
				<div class="col-sm-6">	
					<div class="card mb-3 content" id="ownerinfo">
						<div class="card-body">
							<div class="row">
								<div class="row">
									<h5><strong>Kanye</strong></h5>
								</div>
								<div class="col-md9 text-secondary">
									Male
								</div>
								<div class="col-md9 text-secondary">
									5 years old
								</div>
								<div class="col-md9 text-secondary">
									Calm & friendly
								</div>
								<div class="col-md9 text-secondary">
									Goldish-white
								</div>
							</div>
							<hr>
							<div class="row" id="ownerdesc">
								<div class="row">
									<h5><strong>Description</strong></h5>
								</div>
								<div class="col-md-9 text-secondary">
									Kanye is a lovely dog. Since the Kardashian's home is full of women. he really likes stilling braws and run around the house. 
								</div>
							</div>
							<hr>
						</div>
					</div>
				</div>
			</div>

			<div class = "row listcategory justify-content-center" >
				<div class = "col-sm-4 offset-2 justify-content-center">
					<div class="p-1"><h5><strong>Friends</strong></h5></div>
				</div>

				<div class = "col-sm-4 offset-2 justify-content-center">
					<div class="p-1"><h5><strong>Groups</strong></h5></div>
				</div>
			</div>

			<div class = "row height d-flex justify-content-center align-items-center">
	            <div class = "col-sm-6">
	                <div class="comments-list">
	                        <div class="friend">
	                            <div class="friend-body">
	                                <h4 class="media-heading title"><img class="friendsgroupimg" src="../../static/friend1.svg">Shir & Reina</h4>
	                            </div>
	                        </div>

	                        <div class="friend">
	                            <div class="friend-body">
	                                <h4 class="media-heading title"><img class="friendsgroupimg" src="../../static/friend2.svg">Lee & Milky</h4>
	                            </div>
	                        </div>

	                        <div class="friend">
	                            <div class="friend-body">
	                                <h4 class="media-heading title"><img class="friendsgroupimg" src="../../static/friend3.svg">Yoav & Pancake</h4>
	                            </div>
	                        </div>

	                        <div class="friend">
	                            <div class="friend-body">
	                                <h4 class="media-heading title"><img class="friendsgroupimg" src="../../static/friend1.svg">Nahlaot dogs & friends</h4>
	                            </div>
	                        </div>
	                </div>
	            </div>
	            <div class = "col-sm-6">
	                <div class="comments-list">
	                        <div class="group-public">
	                            <div class="pull-right"><img src="../../static/publicpaw.svg"></div>
	                            <div class="group-body">
	                                <h4 class="media-heading title">Nahlaot dogs & friends<img src="../../static/groupmembers.svg"></h4>
	                            </div>
	                        </div>
	                        <div class="group-public">
	                            <div class="pull-right"><img src="../../static/publicpaw.svg"></div>
	                            <div class="group-body">
	                                <h4 class="media-heading title">Gan Meir morning dogs<img src="../../static/groupmembers.svg"></h4>
	                            </div>
	                        </div>

	                        <div class="group-private">
	                            <div class="pull-right"><img src="../../static/privatepaw.svg"></div>
	                            <div class="group-body">
	                                <h4 class="media-heading title">I&S Dog owners<img src="../../static/groupmembers.svg"></h4>
	                            </div>
	                        </div>

	                        <div class="group-public">
	                            <div class="pull-right"><img src="../../static/publicpaw.svg"></div>
	                            <div class="group-body">
	                                <h4 class="media-heading title">Dog owners Zahala<img src="../../static/groupmembers.svg"></h4>
	                            </div>
	                        </div>
	                        
	                        <div class="group-private">
	                            <div class="pull-right"><img src="../../static/privatepaw.svg"></div>
	                            <div class="group-body">
	                                <h4 class="media-heading title">Gan Hasus walkers<img src="../../static/groupmembers.svg"></h4>
	                            </div>
	                        </div>
	                </div>
	            </div>
	        </div>
			<!-- <div class="row">
				<div class="col-md4 mt-1">
					<div class="card text-center sidebar">
						<div class="card-body">
							<img src="../../static/kim&dog.svg" width="250">
							<div class="mt-3">
							<h3>Kim Kardash</h3> -->
								<!-- <a href="#">
									<div class="icon">
										<i class="fas fa-cogs" aria-hidden="true"></i>
									</div>
								</a>
								<a href="">map view</a>
								<a href="">settings</a>
								<a href="">chat</a>
							</div>
						</div>
					</div>
				</div> -->
				<!-- <div class="col-md-8 mt-1">
					<div class="card mb-3 content">
						<h1 class="m-3 pt-3">About</h1>
						<div class="card-body">
							<div class="row">
								<div class="col-md-3">
									<h5>Full Name</h5>
								</div>
								<div class="col-md9 text-secondary">
									Kim Kardash
								</div>
								
							</div>
							<hr>
							<div class="row">
								<div class="col-md-3">
									<h5>Email</h5>
								</div>
								<div class="col-md-9 text-secondary">
									sfd@gmail.com
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-md-3">
									<h5>Phone</h5>
								</div>
								<div class="col-md-9 text-secondary">
									054-23452234
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<h5>Adress</h5>
								</div>
								<div class="col-md-9 text-secondary">
									frog st. 5, London
								</div>
							</div>
						</div>
					</div> -->
					
				</div>
			</div>
			<div class="row">
				
			</div>
		</div>
	</div>
</body>
</html>