{% extends "nav_bar.html" %}
{% block content %}

<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='create_event.css') }}">


<div class="event-form-box">

    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <div class="row justify-content-center">
            <div class="col-xs-2"><img src="{{url_for('static', filename='smallpaw.svg')}}" class="smallpaw"></div>
            <div class="col-xs-10 title"><span>New Walk Event!</span></div>
        </div>
        <br>
        <div class="radio-btn">
            <label class="section-label">Choose your walk's privacy mode:</label>
            <div class="private-row">
                <div class="mode-checkbox">
                    <input type="radio" name="privacy" id="private" value="orange" required>
                    <label class="private-mode" for="private">
                        <i class="fa fa-paw" aria-hidden="true"></i>
                    </label>
                </div>
                <div class="mode-text">
                    Only my friends can find and join this walk.
                </div>
            </div>
            <br><br>
            <div class="public-row">
                <div class="mode-checkbox">
                    <input type="radio" name="privacy" id="public" value="green" checked required>
                    <label class="public-mode" for="public">
                        <i class="fa fa-paw" aria-hidden="true"></i>
                    </label>
                </div>
                <div class="mode-text">
                    All my neighbours can find and join this walk.
                </div>
            </div>

        </div><br><br>

        <div class="event-form">
            {{ form.title.label(class="form-control-label") }}

            {% if form.title.errors %}
            {{ form.title(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.title(class="form-control", placeholder="Make them wanna join you!") }}
            {% endif %}


            {{ form.location.label(class="form-control-label") }}

            {% if form.location.errors %}
            {{ form.location(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.location.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.location(class="form-control", placeholder="Or: Where to poop this time?") }}
            {% endif %}


            {{ form.date.label(class="form-control-label") }}

            {% if form.date.errors %}
            {{ form.date(class="form-control select-time is-invalid", type="date") }}
            <div class="invalid-feedback">
                {% for error in form.date.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.date(class="form-control select-time", type="date") }}
            {% endif %}


            {{ form.time.label(class="form-control-label") }}

            {% if form.time.errors %}
            {{ form.time(class="form-control select-time is-invalid", type="time") }}
            <div class="invalid-feedback">
                {% for error in form.time.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.time(class="form-control select-time", type="time") }}
            {% endif %}




            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

{% endblock content %}