
{% extends "layout.html" %}
{% block content %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/0f6d5f5ca6.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{url_for('static', filename='smallpaw.svg')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='map.css')}}">

    <div id="chat">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" async></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous" async></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        <button id="new-walk">New Walk</button>
        <button id="create-notification">Create Notification</button>

        <div id="notifications">
            <button id=show_notifications>Show Notifications</button>
            <div  class="notifications">
                <ul id="notifications_list" >
                    {% for notification in new_notifications %}
                    <li class="new_notifications">{{notification.msg}}&nbsp;{{notification.issue_time}}</li>
                    {% endfor %}

                    {% for notification in old_notifications %}
                    <li class="old_notifications">{{notification.msg}}&nbsp;{{notification.issue_time}}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        {% for user in all_users %}
        <div id=chatbox>

            <button id=chat_with_{{user.email}}>Chat with {{user.username}}</button>
            <div id="show_chat_{{user.email}}" class=show_chat>
                <ul id={{user.email}}></ul>
                <br>
                Message: <input type="text" id="input_text_{{user.email}}">
                <button id=button_{{user.email}}>Send to {{user.username}}</button>
            </div>
        </div>
        <br>
        {% endfor %}
        <br>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
    <script src="{{ url_for('static', filename='notifications.js') }}"></script>

    </div>

    <script type=text/javascript>

    let map;
    let all_markers = [];
function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 31.771959, lng: 35.217018 },
    zoom: 15,
  });
  infoWindow = new google.maps.InfoWindow();
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      (position) => {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        };

        const URL = '/home'
        const xhr = new XMLHttpRequest();
        let sender = JSON.stringify([position.coords.latitude, position.coords.longitude])
        xhr.open('POST', URL);
        xhr.send(sender);

        //infoWindow.setPosition(pos);
        //infoWindow.setContent("Location found.");
        //infoWindow.open(map);
        map.setCenter(pos);
      },
      () => {
        handleLocationError(true, infoWindow, map.getCenter());
      }
    );
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
    map.setCenter({
      lat: 31.771959,
      lng: 35.217018,
    });

  }
 initializeMarkers();
}

function UpdateUserLocation() {

   if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      (position) => {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        };

        const URL = '/update_user_location'
        const xhr = new XMLHttpRequest();
        let sender = JSON.stringify([position.coords.latitude, position.coords.longitude])
        xhr.open('POST', URL);
        xhr.send(sender);
      },
    );
  }
}

function initializeMarkers() {
     fetch("/api/locations")
      .then(function (response) {
        return response.json();
      })
      .then(function (all_locations) {
        addMarkers(all_locations);
      })
}

function addMarkers(all_locations){
    for (let i = 0; i < all_locations.length; i++) {
              const marker = new google.maps.Marker({
                  position: new google.maps.LatLng(all_locations[i].pos_x, all_locations[i].pos_y),
                  icon: all_locations[i].image,
                  map: map,
                  //content: createPopupMarker(all_locations[i])
              });
              all_markers.push(marker);

              var infoWindow = NaN;
          // green\orange person marker options
          if(all_locations[i].privacy === "green" || all_locations[i].privacy === "orange"){
            // open infowindow
            var infoWindow = new google.maps.InfoWindow({
              content: createPopupMarker(all_locations[i]),
            });
          }

          // red person marker options
           else{
            // open infowindow
            var infoWindow = new google.maps.InfoWindow({
              content: createPopupMarker(all_locations[i]),
              maxWidth: 250,
            });
          }

            marker.addListener('click', function(){
              infoWindow.setContent(infoWindow.content);
              infoWindow.open(map, marker);
              map.setZoom(18);
              map.setCenter(marker.getPosition());
            });
          }
}

function updateMarkers(){
     fetch("/api/locations")
      .then(function (response) {
        return response.json();
      })
      .then(function (all_locations) {

           // remove all users locations
        for (let i = 0; i < all_locations.length; i++) {
            all_markers[i].setMap(null);
      }
      all_markers = [];

          // update all users locations
        addMarkers(all_locations);
      })
}

function createPopupMarker(userInfo){
    if(userInfo.privacy === "green"){
        console.log(userInfo.dog_image)
        return '<div id="infoContentGreen">'+
                      '<div class="container1">' +
                      '<h1 class="popup-header">New friends for ' + userInfo.dog_name + '  & You,</h1>' +
                      '<h1 class="popup-header">check them out!</h1>' +
                      '<div>' +
                        '<img src="'+ userInfo.dog_image +'">' +
                      '</div>' +
                      '<h2 class="popup-header2Name">' + userInfo.full_name + ' &' + userInfo.dog_name + '</h2>' +
                      '<h2 class="popup-header2">Only ' + "greenInformation.gDistance" + 'away!</h2>' +
                      '<div class="infoBox">' +
                        '<div class="popup-owner-side">' +
                          '<p>' + userInfo.gender + '</p>' +
                          '<p>' + userInfo.gender + 'years old</p>' +
                        '</div>' +
                        '<div class="vl"></div>' +
                        '<div class="popup-dog-side">' +
                          '<p>' + userInfo.dog_gender + '</p>' +
                          '<p>' + userInfo.dog_age +  'years old</p>' +
                        '</div>' +
                      '</div>' +
                      '<a href=' + "greenInformation.gOtherProfile" + 'class="a">See full profile  <img src="static/arrowside.png"></a>' +
                      '<div class="iconsBox">' +
                        '<i><img id="addFriend" src="static/addfriendgreen.png"></i>' +
                        '<i><img src="static/navigategreen.png"></i>' +
                        '<i><img src="static/pokegreen.png"></i>' +
                      '</div>' +
                    '</div>'+
                  '</div>';
    }

    if(userInfo.privacy === "orange"){
        return '<div id="infoContentOrange">'+
                            '<div class="container2">' +
                              '<h1 class="popup-header">Your friends are out!</h1>' +
                              '<h1 class="popup-header">Join their walk</h1>' +
                              '<div>' +
                                '<img src="Pics/lisa_dog.svg">' +
                              '</div>' +
                              '<h2 class="popup-header2Name">' +  orangeInformation.oOtherOwnerName + ' & ' +  orangeInformation.oOtherDogName + '</h2>' +
                              '<h2 class="popup-header2">Only' +  orangeInformation.oDistance + '  away!</h2>' +
                              '<a href=' +  orangeInformation.oOtherProfile + 'class="a">See full profile  <img src="Pics/arrowside.png"></a>' +
                              '<div class="iconsBox">' +
                                '<i><img src="Pics/navigateorange.png"></i>' +
                                '<i><img src="Pics/pokeorange.png"></i>' +
                              '</div>' +
                            '</div>' +
                          '</div>';
    }

    return '<div id="infoContentRed">'+
                          '<div class="container3">' +
                            '<h1 class="popup-header">Pay attention:</h1>' +
                            '<h1 class="popup-header">A' +  redInformation.rOtherDogsBreed + '  is nearby...</h1>' +
                            '<div>' +
                              "<p class='popup-dog-side'>These two are on private mode. so you can't reach out this time.</p>" +
                            '</div>' +
                          '</div>' +
                        '</div>';

}

const interval = setInterval(function() {
   UpdateUserLocation();
   updateMarkers();
 }, 5000);

function openChatWithTarget(userName){

    let chatDiv = document.getElementById("chat");
    let chatHeader = document.getElementById("chatHeader");
    chatHeader.innerHTML  = "Chat With " + userName
    console.log("Chatting with: " + userName);

    chatDiv.style.display = "block";
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(
    browserHasGeolocation
      ? "Error: The Geolocation service failed."
      : "Error: Your browser doesn't support geolocation."
  );
  infoWindow.open(map);
}
    </script>

<div id="map"></div>
  <script
      src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly"
      async
    ></script>



{% endblock content %}