<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>My profile</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='smallpaw.svg')}}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/0f6d5f5ca6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/my_profile.css">
</head>
<body>
    <div class="event-form-box">
        <div class="row">
            <button class = "back_button">
                <img src="../static/Vector.svg">
            </button>
        </div>
        <div class="row justify-content-center">
            <div class="col-xs-2"><img src="../static/smallpaw.svg" class="smallpaw"></div>
            <div class="col-xs-10 title"><span>My Profile</span></div>
        </div>

        <div class="profile-titles">
            <img class="owner-pic" src="../static/dogs_owners1.jpg">
            <img class="dog-pic" src="../static/dog_head.jpg">
            <div class="names">
                <span class="owner-name">Kim</span>
                <span> & </span>
                <span class="dog-name">Pup</span>
            </div>
        </div>

        <div class="row justify-content-center info-box">
            <div class="column-md-12 info-owner">
                <span>Gender</span><br>
                <span>Age</span>
            </div>
            <div class="column-md-12 info-dog">
                <span>Gender</span><br>
                <span>Age</span><br>
                <span>Temperament</span><br>
                <span>Colors</span>
            </div>
            
        </div>

        <!-- My profile section bar -->
        <div class="nav middle_nav">
            <a href="#" class="nav__link">
                <i class="fas fa-cog nav__icon" aria-hidden="true"></i>
            </a>
            <a href="#" class="nav__link">
                <i class="far fa-images nav__icon current" aria-hidden="true"></i>
            </a>
            <a href="#" class="nav__link">
                <i class="fas fa-sign-out-alt nav__icon" aria-hidden="true"></i>
                <span class="nav__text">Log Out</span>
            </a>
            <i class=""></i>
        </div>

        <!-- Albums -->
        <div class='container'>
            <section class="albums-gallery">
                <div class="one-album-item">
                    <div style="background-image: url('../static/dog_head.jpg');"class="one-album-item-img"></div>
                    <p><strong>Gan Saker Evening</strong></p>
                    <p>15 pictures</p>
                </div>
                <div class="one-album-item">
                    <div style="background-image: url('../static/dog_head.jpg');"class="one-album-item-img"></div>
                    <p><strong>Gan Saker Evening</strong></p>
                    <p>15 pictures</p>
                </div>
                <div class="one-album-item">
                    <div style="background-image: url('../static/dog_head.jpg');"class="one-album-item-img"></div>
                    <p><strong>Gan Saker Evening</strong></p>
                    <p>15 pictures</p>
                </div>
                <div class="one-album-item">
                    <div style="background-image: url('../static/dog_head.jpg');"class="one-album-item-img"></div>
                    <p><strong>Gan Saker Evening</strong></p>
                    <p>15 pictures</p>
                </div>
                <div class="one-album-item">
                    <div style="background-image: url('../static/dog_head.jpg');"class="one-album-item-img"></div>
                    <p><strong>Gan Saker Evening</strong></p>
                    <p>15 pictures</p>
                </div>
                <div class="one-album-item">
                    <div style="background-image: url('../static/dog_head.jpg');"class="one-album-item-img"></div>
                    <p><strong>Gan Saker Evening</strong></p>
                    <p>15 pictures</p>
                </div>
            </section>
        </div>
    </div>

    <!-- nav bar -->
    
</body>
</html>