<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="3600">

   <!-- Bootstrap CSS -->



   <!-- JQUERY -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Bark2Meet</title>
    {% endif %}
</head>
<body>

    {% block content %}{% endblock %}

    <!-- nav bar -->
    <nav class="nav">
        <a href="{{ url_for('my_walks') }}" class="nav__link nav__link--active">
        {% if title == "My Walks" %}
            <i class="far fa-comments nav__icon text-white" aria-hidden="true"></i>
            <span class="nav__text text-white">Walks</span>

        {% else %}
            <i class="far fa-comments nav__icon" aria-hidden="true"></i>
            <span class="nav__text">Walks</span>
        {% endif %}
        </a>

        <a href="{{ url_for('map') }}" class="nav__link">
        {% if title == "Map" %}

            <i class="far fa-map nav__icon text-white" aria-hidden="true"></i>
            <span class="nav__text text-white">Map</span>

        {% else %}
            <i class="far fa-map nav__icon" aria-hidden="true"></i>
            <span class="nav__text">Map</span>
        {% endif %}
        </a>

        <a href="{{ url_for('invite_friends') }}" class="nav__link">
        {% if title == "Notification" %}
            <i class="far fa-bell nav__icon text-white" aria-hidden="true"></i>
            <span class="nav__text text-white">Notification</span>
        {% else %}
            <i class="far fa-bell nav__icon" aria-hidden="true"></i>
            <span class="nav__text">Notification</span>
        {% endif %}
        </a>


        <a href="{{ url_for('join_walk') }}" class="nav__link">
        {% if title == "Profile" %}
            <i class="far fa-user-circle nav__icon text-white" aria-hidden="true"></i>
            <span class="nav__text text-white">Profile</span>
        {% else %}
            <i class="far fa-user-circle nav__icon" aria-hidden="true"></i>
            <span class="nav__text">Profile</span>
        {% endif %}
        </a>
    </nav>




</body>
</html>