<!DOCTYPE html>
<html>
<head>
	<title> Sing Up - Dog </title>
	<link rel="shortcut icon" href="{{url_for('static', filename='smallpaw.svg')}}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register_user.css') }}">
</head>
<body class="body-signup">
	<div class="container">
		<div class="title"><img src="{{url_for('static', filename='smallpaw.svg')}}" class="smallpaw">Sign Up - Dog</div>
		<form method="POST" action="">
        {{ form.hidden_tag() }}

			<div class="user-details">

				<div class="input-box">
                    {{ form.dog_name.label(class="form-control-label") }}

                    {% if form.dog_name.errors %}
                        {{ form.dog_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.dog_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.dog_name(class="form-control form-control-lg", placeholder="Enter your dog's name") }}
                    {% endif %}
				</div>


				<div class="input-box">
                    {{ form.dog_age.label(class="form-control-label") }}

                    {% if form.dog_age.errors %}
                        {{ form.dog_age(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.dog_age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.dog_age(class="form-control form-control-lg", placeholder="Enter your dog's age") }}
                    {% endif %}
				</div>


				<div class="input-box">
                    {{ form.dog_temperament.label(class="form-control-label") }}

                    {% if form.dog_temperament.errors %}
                        {{ form.dog_temperament(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.dog_temperament.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.dog_temperament(class="form-control form-control-lg", placeholder="Temperament") }}
                    {% endif %}
				</div>


				<div class="input-box">
                    {{ form.dog_color.label(class="form-control-label") }}

                    {% if form.dog_color.errors %}
                        {{ form.dog_color(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.dog_color.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.dog_color(class="form-control form-control-lg", placeholder="Enter your dog's coat colors") }}
                    {% endif %}
				</div>


				<div class="input-box">
                    {{ form.dog_breed.label(class="form-control-label") }}

                    {% if form.dog_breed.errors %}
                        {{ form.dog_breed(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.dog_breed.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.dog_breed(class="form-control form-control-lg",  placeholder="Enter your dog's breed") }}
                    {% endif %}
				</div>
			</div>

            <div class="gender-details">
				<input type="radio" name="gender" value="1" id="dot-1" required>
				<input type="radio" name="gender" value="0" id="dot-2" required>

				<span class="gender-title">Gender</span>
				<div class="category">
					<label for="dot-1">
						<span class="dot one"></span>
						<span class="gender">Male</span>
					</label>
					<label for="dot-2">
						<span class="dot two"></span>
						<span class="gender">Female</span>
					</label>
				</div>
			</div>

            {{ form.submit(class="button") }}
			<!-- <div class="button"> -->
			<!-- <a class="continue" href="imgupload.html">Finish</a> -->
				<!-- <input type="button" value="Next"> -->
			<!-- </div> -->
		</form>
	</div>
</body>
</html>