            body {
                color: #073170;
                background-image: url("../../static/siteBg4.svg");
            }

            .back_button {
                alt: Back;
                width: 17.5px;
                height: 18.08px;
                vertical-align: middle;
            }
            .form {
                position: relative;
                border-radius: 11px;
                border: 3px solid #0B469D;
            }

            .form-control form-input {
                border-radius: 11px;
                border: 3px solid #0B469D;
            }

            .form .fa-search {
                position: absolute;
                top: 20px;
                left: 20px;
                color: #9ca3af
            }

            .form span {
                position: absolute;
                right: 17px;
                top: 13px;
                padding: 2px;
                border-left: 1px solid #d1d5db
            }

            .left-pan {
                padding-left: 7px
            }

            .left-pan i {
                padding-left: 10px
            }

            .form-input {
                height: 55px;
                text-indent: 33px;
                border-radius: 10px
            }

            .form-input:focus {
                box-shadow: none;
                border: none
            }
            button {
              background: white;
              border-width: 0px;
            }

            center {
                font-size: 22px;
                font-weight: 800;
            }

            .pull-right {
                text-align: center;
                vertical-align: middle;
                line-height: 20px;
            }
            p.pull-right {
                font-size: 12px;
                margin-right: 20px
            }
            div.pull-right{
                width: 18px;
                height: 23px;
                border-radius: 15px;
                background-color: #E73E30;
                color: white;
                font-size: 13px;
                margin-right: 8px;
            }
            h1 {
                font-size: 18px;
            }
            .media-left {
                float: left;
                width: 40px;
                height: 40px;
                Vertical align: center;
                line-height: 70px;
                margin-left: 10px;
            }
            div.media-unread {
                height: 70;
                border: 2px solid #0B469D;
                border-radius: 7px;
                background-color: rgba(161, 176, 255, 0.5);
                margin-top: 18px;
            }

            div.media-read {
                height: 70;
                border: 2px solid #0B469D;
                border-radius: 7px;
                background-color: #F6F8FF;
                margin: 18px;
            }

            .media-heading title {
                font-style: SemiBold;
                font-size: 18px;
                line-height: 22px;
                Align: Left;
                Vertical align: Top;
            }
            .media-body {
                margin-left: 60px;
            }
            .media-content {
                Font-size: 15px;
            }
            .comments-list {
                overflow: scroll;
                height: 261px
            }
            .page-header {
                text-style: header 3;
                font-style: Bold;
                align: Center;
                vertical-align: Center;
                letter-spacing: -0.37%;
                margin-top: 30px;
            }