      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

      #map {
        height: 600px;
        width: 100%;
        }


      html, body {
        padding: 0;
        height: : 100%;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
      }

      #infoContentGreen {
        background: linear-gradient(rgba(203, 254, 61, 0.3), rgba(92, 108, 47, 0.3));
        padding: 0 !important;
        margin: 0 !important;
        font-family: 'Montserrat', sans-serif;
        overflow: hidden !important;
      }

      #infoContentOrange {
        background: linear-gradient(rgba(255, 173, 14, 1), rgba(152, 101, 3, 1));
        padding: 15px !important;
        margin: 0 !important;
        font-family: 'Montserrat', sans-serif;
        overflow: hidden !important;
      }

      #infoContentRed {
        background: linear-gradient(rgba(245, 162, 155, 1), rgba(231, 62, 48, 0.8));
        padding: 0 !important;
        margin: 0 !important;
        font-family: 'Montserrat', sans-serif;
        overflow: hidden !important;
      }

      .gm-style-iw-d {
        max-height: 600px !important;
        margin: 0px !important;
        overflow: hidden !important;
        height: 100% !important;
      }

      .gm-style-iw {
        max-height: 600px !important;
        padding: 0 !important;
        margin: 0 !important;
      }


      .gm-style-iw-t::after{
        background:  rgba(92, 108, 47, 0) !important;
        padding: 0 !important;
        margin: 0 !important;
      }

      .popup-header{
        font-size: 22px;
        color: #073170;
        align-items: center;
        font-weight: 800;
        letter-spacing: 0;
        text-align: center;
        padding: 0;
      }

      .popup-header2Name{
        font-size: 18px;
        font-weight: 700;
        color: #073170;
        text-transform: uppercase;
        letter-spacing: -0.37px;
        padding-top:5px;
      }

      .popup-header2{
        font-size: 18px;
        font-weight: 700;
        color: #073170;
        /*display: flex;*/
        letter-spacing: -0.37px;
        text-align: center;

      }

      .popup-owner-side{
        font-size: 16px;
        font-weight: 600;
        color: #FEFEFE;
        align-items: center;
        text-align: right;
        letter-spacing: 1px;
        margin-right: 15px;
      }

      .popup-dog-side{
        font-size: 16px;
        font-weight: 500;
        color: #073170;
        text-align: left;
        letter-spacing: 1px;
        margin-left: 15px;
      }

       /*responsible on text popup*/
      .container1{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(rgba(203, 254, 61, 1), rgba(92, 108, 47, 0.6));
        font-family: 'Montserrat', sans-serif;
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
      }

      .container2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 25px
        padding-left: 5px;
        padding-right: 5px;
      }

      .container3{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 25px;
        padding-left: 5px;
        padding-right: 5px;
      }

      .infoBox{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
      }

      .vl {
        border-left: 2px solid rgba(75, 11, 157, 1);
        height: 60px;
        left: 50%;
        margin-left: -3px;
        top: 0;
        margin-bottom: : -3px;
      }

      .iconsBox{
        padding: 0px !important;
        margin: 0;
      }

      .a{
        color: #073170;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 600;
      }

      a:hover {
        color: #4B0B9D;
      }
      /*Lee's css style from stylesheet*/

      ul li:last-child {
        border-right: none;
      }

      ul li a, .logo, .topbar a, {
        text-decoration: none;
        padding: 2px 50px;
        display: block;
      }

      ul li a .icon, .topbar a .icon {
        width: 40px;
        height: 40px;
        text-align: center;
        overflow: hidden;
        margin: 0 auto 10px;
      }

      ul li a .icon .far, .topbar a .icon .far {
        width: 100%;
        height: 100%;
        line-height: 40px;
        font-size: 34px;
        transition: 0.5s;
        color: #4B0B9D;
      }

      ul li a .icon .far:last-child, .topbar a .icon .far:last-child {
        color: #FFF;
      }

      ul li a:hover .icon .far, .topbar a:hover .icon .far {
        transform: translateY(-100%);
      }

      .topbar {
        background-color: #F8EAFF;
        overflow: hidden;
      }

      .topbar a, .topbar a .name {
        float: right;
        color: #FFF;
        text-align: center;
        padding: 20px 26px;
        text-decoration: none;
        font-size: 20px;
      }

      #imgBar{
        width: 50px;
        height: 40px;
        background: url('../../static/greenmodewalk.png') no-repeat;

      }

      #imgBar:hover{
        background: url('../../static/pushedgreenmodewalk.png') no-repeat;
        width: 50px;
        height: 40px;
      }
      .center {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);

      }
      .popup {
        width:300px;
        height:200px;
        padding:20px 20px;
        background:#F8EAFF;
        color:#073170;
        border-radius:10px;
        box-sizing:border-box;
        z-index:2;
        text-align:Center;
        border:3px solid #4B0B9D;
        opacity:0;
        /*top:-200%;
        /*transform:translate(-50%,-50%) scale(0.5);
        transition: opacity 300ms ease-in-out,
                    top 1000ms ease-in-out,
                    transform 1000ms ease-in-out;*/
      }
      .onpopup.active {
        opacity:1;
        top:50%;
        /*transform:translate(-50%,-50%) scale(1);
        transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);*/
      }
      .onpopup .icon {
        margin:5px 0px;
        width:50px;
        height:5px;
        text-align:Left;
        display:inline-block;
        border-radius:50%;
        line-height:60px;
      }
      .onpopup .icon i.fa {
        font-size:30px;
        color:#34f234;
      }
      .onpopup .description {
        color:#073170;
        font-size:15px;
        padding:5px;
        font-family: 'Montserrat', sans-serif;;

      }
      .onpopup .now-btn {
        margin-top:15px;
      }
      .onpopup .now-btn button {
        padding:10px 40px;
        background:linear-gradient(#A1B0FF,#FBCBFF);
        color:#073170;
        border:3px solid #4B0B9D;
        text-align:Center;
        font-size:16px;
        font-weight:600;
        outline:none;
        border-radius:10px;
        cursor:pointer;
        transition: all 300ms ease-in-out;
        font-family: 'Montserrat', sans-serif;
      }
      .onpopup .now-btn button:hover {
        color:#FFFFFF;
        background:linear-gradient(#A1B0FF,#FBCBFF);
      }
      .onpopup .settimer-btn {
        margin-top:15px;
      }
      .onpopup .settimer-btn button {
        padding:10px 20px;
        background:#A1B0FF;
        color:#073170;
        border:3px solid #4B0B9D;
        text-align:Center;
        font-size:16px;
        font-weight:600;
        outline:none;
        border-radius:10px;
        cursor:pointer;
        transition: all 300ms ease-in-out;
        font-family: 'Montserrat', sans-serif;

      }
      .popup .settimer-btn button:hover {
        color:#FFFFFF;
        background:#A1B0FF;
      }
      .popup > div {
        position:relative;
        top:10px;
        opacity:0;
      }
      .popup.active > div {
        top:0px;
        opacity:1;
      }
      .popup.active .icon {
        transition: all 300ms ease-in-out 250ms;
      }
      .popup.active .description {
        transition: all 300ms ease-in-out 300ms;
      }
      .popup.active .now-btn {
        transition: all 300ms ease-in-out 300ms;
      }
      .popup.active .settimer-btn {
        transition: all 300ms ease-in-out 300ms;
      }

      .onpopup{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:300px;
        height:250px;
        padding:30px 20px;
        background:#F8EAFF;
        color:#073170;
        border-radius:10px;
        box-sizing:border-box;
        z-index:2;
        text-align:Center;
        border:3px solid #4B0B9D;
        /*opacity:0;*/
        /*top:-200%;*/
        /*transform:translate(-50%,-50%) scale(0.5);*/
        /*transition: opacity 300ms ease-in-out,
                    top 1000ms ease-in-out,
                    transform 1000ms ease-in-out;*/
      }
      .now-btn{
        padding:10px 40px;
        background:linear-gradient(#A1B0FF,#FBCBFF);
        color:#073170;
        border:3px solid #4B0B9D;
        text-align:Center;
        font-size:16px;
        font-weight:600;
        outline:none;
        border-radius:10px;
        cursor:pointer;
        transition: all 300ms ease-in-out;
        font-family: 'Montserrat', sans-serif;
        margin-top:15px;
      }

      .settimer-btn{
        padding:10px 20px;
        background:#A1B0FF;
        color:#073170;
        border:3px solid #4B0B9D;
        text-align:Center;
        font-size:16px;
        font-weight:600;
        outline:none;
        border-radius:10px;
        cursor:pointer;
        transition: all 300ms ease-in-out;
        font-family: 'Montserrat', sans-serif;
        margin-top:15px;
      }

      .onpopup .now-btn:hover {
        color:#FFFFFF;
        background:linear-gradient(#A1B0FF,#FBCBFF);
      }

     .onpopup .settimer-btn:hover {
        color:#FFFFFF;
        background:#A1B0FF;
      }
 }

		.human {
			background: url(../../static/human-sign.svg);
		}

		.dog {
			background: url(../../static/dog-sign.svg);
		}
		.img-wrapper {
			position: relative;
			width: 200px;
			height: 200px;
			border: 5px solid #fff;
			border-radius: 50%;
			background-size: 100%;
			margin: 100px auto;
			overflow: hidden;
		}

		.my-file {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			outline: none;
			color: transparent;
			width: 100%;
			box-sizing: border-box;
			padding: 15px 120px;
			cursor: pointer;
			transition: 0.5s;
			background: rgba(248, 234, 255, 0.5);
			opacity: 0;
		}
		.my-file::-webkit-file-upload-button {
			visibility: hidden;
		}
		.my-file::before {
			content: '\f030';
			font-family: fontAwesome;
			font-size: 30px;
			color: #fff;
			display: inline-block;
			-webkit-user-select: none;
		}

		.my-file::after {
			content: 'Update';
			font-family: 'arial';
			font-weight: bold;
			color: #fff;
			display: block;
			top: 70px;
			font-size: 14px;
			position: absolute;

		}
		.my-file:hover {
			opacity: 1;
		}