@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: #073170;
    }

body {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding: 0;
	background-image: url("../../static/siteBg4.svg");
	background-size: cover;
	margin: 0 0 55px 0;
}
.event-form-box {
	display: block;
	max-width: 700px;
	width: 100%;
	background: linear-gradient(#FEFFFA, #F6E6E5);
	padding: 25px 30px;
	overflow: auto;
}
.event-form-box .title {
	font-size: 25px;
	font-weight: 900;
	position: relative;
}

.event-form-box .title::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	background: #4B0B9D;
}
.event-form-box {
	max-width: 600px;
	height: 95%;
	border: 1px solid #ced4da;
	background: linear-gradient(#FEFFFA, #F6E6E5);
	padding: 20px 20px;
}
.notifi-item {
	display: flex;
	border-bottom: 1px solid #eee;
	padding: 5px 5px;
	margin-bottom: 15px;
	cursor: pointer;
    background-color: #F6F8FF;
    border-radius: 7px;
    border: 2px solid #0B469D ;

}
.notifi-item1, .notifi-item2,.notifi-item5, .notifi-item3 {
	display: flex;
	border-bottom: 1px solid #eee;
	padding: 5px 5px;
	margin-bottom: 15px;
	cursor: pointer;
    background-color: rgba(161, 176, 255, 0.5);
    border-radius: 7px; 
    border: 2px solid #0B469D ;

}
.clock{
    float: left;
    font-size: 10px;
    display: flex;
}
.notifi-item:hover, .notifi-item1:hover, .notifi-item2:hover, .notifi-item5:hover, .notifi-item3:hover {
	background-color: #eee;
}
.notifi-item img, .notifi-item2 img, .notifi-item5 img, .notifi-item3 img, .notifi-item1 img {
	display: block;
	width: 50px;
	margin-right: 10px;
	border-radius: 50%;
	height: 50px;
}
.notifi-item .text h4,.notifi-item1 .text h4, .notifi-item2 .text h4 , .notifi-item5 .text h4, .notifi-item3 .text h4{
	color:#073170;
	font-size: 16px;
	margin-top: 2px;
}
.notifi-item .text p, .notifi-item1 .text p, .notifi-item2 .text p,.notifi-item5 .text p,.notifi-item3 .text p {
    color: #073170;
    font-size: 12px;
	display: flex;

}
.notify {
    float: center;
}
.event-form-box .notify {
    font-size:30px;
    color:#073170;
    text-align: center;
}
.event-form-box #searchbox{
    border-radius: 55px;
    padding: 3px 5px;
    display: flex;
    border: 2px solid #073170 ;
    position:absolute;
    top: auto;
    left: auto;
    background: linear-gradient(#FEFFFA, #F6E6E5);
}
#searchIcon{
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}
input{
    font-size: 15px;
    width: 0px;
    border: 0;
    background: transparent;
    outline: none;
    transition: 2s;
}
.active input{
    width: 400px;
}

      /* nav bar */
.nav {
    position: absolute;
    bottom: 0;
	left: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #F8EAFF;
    display: flex;
    /*overflow-x: auto;*/
    overflow: hidden;
    z-index:1;
    flex-wrap: inherit;
	color:#4B0B9D;
}

.nav__link {
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    /*overflow: hidden;*/
    white-space: nowrap;
    font-size: 13px;
    color: #4B0B9D;
    text-decoration: none;
    -webkit-tap-highlight-color:  transparent;
    transition: background-color 0.1s ease-in-out;
    width: 50px;
    z-index: 1;
    /*position: absolute;*/
}
.nav__link_img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	min-width: 50px;
	/*overflow: hidden;*/
	white-space: nowrap;
	font-size: 13px;
	color: #4B0B9D;
	text-decoration: none;
	-webkit-tap-highlight-color:  transparent;
	transition: background-color 0.1s ease-in-out;
	width: 50px;
	z-index: 2;
	position: relative;
	left: -30px;
}
.nav__link:hover {
	text-decoration: none;
	background-color: #F4DEFF;
}

.nav__link--active {
	color: #fff !important;
}
.nav__icon {
	font-size: 20px;
}
#imgBar{
	width: 80px;
	height: 90px;
	background: url('Pics/start_a_walk.png') no-repeat;
	background-size: 80px, 80px;
	bottom: 10px;
	/*left:140px;*/
	z-index:1000;
	align-items: center;
	position: fixed;
	overflow: hidden;
}
.nav__link_img {
	width: 90px;
	height: 90px;
}
#imgBar:hover{
	background: url('Pics/pushedstartwalkmode.png') no-repeat;
	width: 50px;
	height: 40px;
}

#walkButton{
	padding:10px 15px;
	background:linear-gradient(#A1B0FF,#FBCBFF);
	color:#4B0B9D;
	border:none;
	font-size:30px;
	border-radius:50px;
	bottom: 10px;
	z-index:1000;
	align-items: center;
	position: fixed;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.allow-btn, .confirm-btn {
	margin-top:15px;
}
.allow-btn button, .confirm-btn button {
	padding:5px 8px;
	background:linear-gradient(#A1B0FF,#FBCBFF);
	color:#073170;
	border:2px solid #4B0B9D;
	text-align:Center;
	font-size:10px;
	font-weight:600;
	outline:none;
	border-radius:10px;
	cursor:pointer;
	transition: all 300ms ease-in-out;
	font-family: 'Montserrat', sans-serif;
}
.allow-btn button:hover, .confirm-btn button:hover {
	color:#FFFFFF;
	background:linear-gradient(#A1B0FF,#FBCBFF);
}
.Deny-btn, .delete-btn {
	margin-top:15px;
}
.Deny-btn button, .delete-btn button {
	padding:5px 10px;
	background:linear-gradient(#A1B0FF,#FBCBFF);
	color:#073170;
	border:2px solid #4B0B9D;
	text-align:Center;
	font-size:10px;
	font-weight:600;
	outline:none;
	border-radius:10px;
	cursor:pointer;
	transition: all 300ms ease-in-out;
	font-family: 'Montserrat', sans-serif;
	float: right;
	margin-bottom: 0%;
}
.Deny-btn button:hover, .delete-btn button:hover {
	color:#FFFFFF;
	background:linear-gradient(#A1B0FF,#FBCBFF);
  }
.buttons{
    float: right;
	margin-top: 1px;
	display: flex;
	margin-right: 0px;
}
