/*
dark purple #4B0B9D
light purple #F8EAFF
gradient #FEFFFA #F6E6E5
dark blue #073170
: linear-gradient(135deg, #A1B0FF, #FFF
); body

bg gradient linear-gradient(#FEFFFA, #F6E6E5)
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

}

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 0;
	background-image: url("siteBg4.svg");
	background-size: cover;
	/*margin: 0 0 55px 0;*/
}
/*light container*/
.container {
	height: 50vh;
	overflow: hidden;
	overflow-y: scroll;
}

#walks {
	padding: 30px 10px;
	padding-top: 10px;
}

.event-form-box {
	display: block;
	max-width: 700px;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(#FEFFFA, #F6E6E5);
	padding: 25px 30px;
	overflow: hidden;
}


.event-form-box .title {
	font-size: 25px;
	font-weight: 900;
	position: relative;
	margin-bottom: 20px;
	color: #073170;
}

.event-form-box .title::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	background: #4B0B9D;
}

.event-form-box .smallpaw {
	margin: 0 10px 0 0px;
}

.event-form-box {
	max-width: 600px;
	height: 95%;
	border: 1px solid #ced4da;
	background-image: linear-gradient(#FEFFFA, #F6E6E5);
	padding: 10px 10px;
}

.back_button {
	float: left;
	background: transparent;
	border: none;
	margin: 0 0 5px 5px;
}

/*Profile pics & names*/

.profile-titles {
    text-align: center;
}

.owner-pic {
    position: relative;
    left: 15px;
    z-index: 2;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    border: 4px solid #073170;
    box-shadow: 0 0 8px #4B0B9D;
    }

.dog-pic {
    position: relative;
    right: 15px;
    z-index: 1;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    border: 4px solid #073170;
    box-shadow: 0 0 8px #4B0B9D;
}
.names {
    ont-family: "Montserrat", sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: #073170;
    padding-top: 10px;

}

/*infos*/
.info-box {
padding: 10px;
margin: 0;
}

.info-owner {
	border-right: 3px solid #4B0B9D; 
	padding-right: 10px;
	min-width: 150px;
	text-align: right;
	color: #073170;
}

.info-dog {
	padding-left: 10px;
	min-width: 150px;
	color: #073170;
}

/*css for friends list*/

.row > .col-lg-12 {
	padding: 0;
	margin: 0;
	align-items: flex-start;
}

.sms-send-page .pull-left p {
    color: #5b6773;
    margin: 0;
}
.sms-send-page .pull-left small {
    color: #637282;
    font-size: 13px;
}
.sms-send-page .pull-left {
    line-height: 18px;
}
.sms-send-page .list-group-item {
    padding: 10px;
    margin-bottom: 0.3em;
    background-color: #F6F8FF;
    border: 2px solid #073170;
    border-radius: 5px;
    position: relative;
}

.walk-name strong {
    color: #073170;
}

.sms-send-page .list-group {
    box-shadow: 0 0 11px #eceeef;
    margin: 8px 0.8em;
}

.join_walk {
	width: 80px;
	height: 40px;
	-webkit-appearance:  none;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	background: none;
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s;
	margin-top: 0.1em;
	z-index: 900px;
}

.join_walk.green {
    border: 2px solid #5C6C2F;
    float: right;
    color: #5C6C2F;
}

.join_walk.green.leave {
	background: #B6E13D;
}

.join_walk.orange {
    border: 2px solid #986503;
    float: right;
    color: #986503;
}

.join_walk.orange.leave {
	background: #FFAD0E;
}


.join_walk.green:hover{
    background: #B6E13D;
}

.join_walk.orange:hover{
    background: #FFAD0E;
}

.join_walk.green.leave:hover{
    background: #aad33a;
}

.join_walk.orange.leave:hover{
    background: #f0a40d;
}


.sms-send-page .pull-left, .sms-send-page .pull-right{
  padding: 0px;
}

/* nav bar */
.nav__link_middle {
	background-color: #F8EAFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	min-width: 50px;
	overflow: hidden;
	white-space: nowrap;
	font-size: 13px;
	color: #073170;
	text-decoration: none;
	-webkit-tap-highlight-color:  transparent;
	transition: background-color 0.1s ease-in-out;
	border: none;
}

/*participants little pics*/
div.profile-pics {
    margin-top: 0.5em;
    margin-bottom: 2em;
}


.head {
    position:absolute;
    float: left;
    z-index: 3;
    width: 30px;
    height: 30px;
    border-radius: 90px;
    background-color: #ccc;
}
.mid {
    position:absolute;
    float: left;
    z-index: 1;
    left: 30px;
    width: 30px;
    height: 30px;
    border-radius: 90px;
    background-color: #ccc;
}

.tail {
    position:absolute;
    float: left;
    z-index: 2;
    left: 52px;
    width: 30px;
    height: 30px;
    border-radius: 90px;
    background-color: #ccc;
}

.middle_nav {
	position: relative;
}

/*Add Friend buttons (as checkboxes)*/

.add_friend {
	width: 50px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid rgba(7, 49, 112, 1);
	border-radius: 25px;
	background: none;
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s;
	font-family: FontAwesome;
	font-size: 18px;
}

.add_friend.approved, .add_friend.sent {
	border-color: rgba(7, 49, 112, 0.4);
}

.add_friend.sent {
	background: linear-gradient(180deg, #A1B0FF 0%, #FBCBFF 100%);
}

.add_friend.approved {
	background-color: rgba(161, 176, 255, 0.7);
}

.add_friend.approved i, .add_friend.sent i {
	color: rgba(7, 49, 112, 0.6);
}

/*grid albums gallery*/
.container {
	padding: 0;
	height: 50vh;
	overflow: hidden;
	overflow-y: scroll;
}

.albums-gallery {
	max-width: 1200;
	margin: 20px 0;
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;

}

.one-album-item {
	border-radius: 7px;
	overflow: hidden;
	box-shadow: 0 2px 5px rgba(7, 49, 112, 0.1);
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #ddd;
	background-color: #fff;
}

.one-album-item-img {
	height: 150px;
	background-size: cover;
	background-position: center;
}

.one-album-item p {
    color: #073170;
}

@media(max-width: 300px) {
	.albums-gallery {
		grid-template-columns: 1fr;
	}
}

.sms-send-page .list-group {
    border: 0px solid #ced4da;
}
