 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

 /* nav bar */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #F8EAFF;
  display: flex;
  /*overflow-x: auto;*/
  overflow: hidden;
  z-index:900;
  flex-wrap: inherit;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  white-space: nowrap;
  font-size: 13px;
  color: #4B0B9D;
  text-decoration: none;
  -webkit-tap-highlight-color:  transparent;
  transition: background-color 0.1s ease-in-out;
  width: 50px;
  z-index: 1;
}

.nav__link_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  white-space: nowrap;
  font-size: 13px;
  color: #4B0B9D;
  text-decoration: none;
  -webkit-tap-highlight-color:  transparent;
  transition: background-color 0.1s ease-in-out;
  width: 50px;
  z-index: 2;
  position: relative;
  left: -30px;
}

.nav__link:hover {
  text-decoration: none;
  background-color: #F4DEFF;
  color: #4B0B9D;
}

.text-current {
  color: #A1B0FF !important;
}

.nav__icon {
  font-size: 20px;
}


.nav__link_img {
  width: 90px;
  height: 90px;
}


#walkButtonDisableStart{
  padding:10px 15px;
  background: linear-gradient(rgba(202, 210, 255, 1),rgba(253, 228, 255, 1));
  color:rgba(75, 11, 157, 0.7);
  border:none;
  font-size:30px;
  border-radius:50px;
  bottom: 10px;
  z-index:1000;
  align-items: center;
  position: fixed;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#walkButtonDisableGreen{
  padding:10px 15px;
  background: rgba(211, 227, 164, 1);
  color:rgba(92, 108, 47, 0.7);
  border:none;
  font-size:30px;
  border-radius:50px;
  bottom: 10px;
  z-index:1000;
  align-items: center;
  position: fixed;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#walkButtonDisableOrange{
  padding:10px 15px;
  background: rgba(255, 209, 119, 1);
  color:rgba(152, 101, 3, 0.7);
  border:none;
  font-size:30px;
  border-radius:50px;
  bottom: 10px;
  z-index:1000;
  align-items: center;
  position: fixed;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#walkButtonDisableRed{
  padding:10px 15px;
  background: rgba(233, 117, 108, 1);
  color:rgba(245, 162, 155, 1);
  border:none;
  font-size:30px;
  border-radius:50px;
  bottom: 10px;
  z-index:1000;
  align-items: center;
  position: fixed;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


