<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/0f6d5f5ca6.js" crossorigin="anonymous"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="shortcut icon" href="../../../static/smallpaw.svg" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>MAP PAGE 1</title>
  </head>
  <body>

    <script>
      // Map's options
      function initMap(){
        var options = {
          zoom:17,
          center:{lat:31.78267,lng:35.208168},
          mapId:'a856c89da17dedb6',
          }
          
          // New map
        map = new google.maps.Map(document.getElementById('map'), options);

        
        // add marker function
        function addMarker(props){
          // add a marker
          var marker = new google.maps.Marker({
            position:props.coords,
            map:map,
            icon:props.iconImage,
          });
        
    
          if(props.contentMarkerGreen){
            // open infowindow
            var infoWindow = new google.maps.InfoWindow({
              content: props.contentMarkerGreen,
            });
            

            marker.addListener('click', function(){
              infoWindow.setContent(infoWindow.content);
              infoWindow.open(map, marker);
            });
          }

           if(props.contentMarkerOrange){
            // open infowindow
            var infoWindow = new google.maps.InfoWindow({
              content: props.contentMarkerOrange,
            });
            

            marker.addListener('click', function(){
              infoWindow.setContent(infoWindow.content);
              infoWindow.open(map, marker);
            });
          }

           if(props.contentMarkerRed){
            // open infowindow
            var infoWindow = new google.maps.InfoWindow({
              content: props.contentMarkerRed,
              maxWidth: 250
            });
            

            marker.addListener('click', function(){
              infoWindow.setContent(infoWindow.content);
              infoWindow.open(map, marker);
            });
          }
        }

  
        var markers = [
          {
            coords:{lat:31.78267, lng:35.208168},
            iconImage:'../../../static/mepurple.png'
          }, 
          {
            coords:{lat:31.784390, lng:35.208860},
            iconImage:'../../../static/GPSgreen.png',
            title: 'green',
            contentMarkerGreen: '<div id="infoContentGreen">'+
                      '<div class="container1">' +
                      '<h1 class="popup-header">New friends for Luna & You,</h1>' +
                      '<h1 class="popup-header">check them out!</h1>' +
                      '<div>' +
                        '<img src="../../../static/noa_rexi.png">' +
                      '</div>' +
                      '<h2 class="popup-header2Name">NOA & REXY</h2>' +
                      '<h2 class="popup-header2">Only 100m away!</h2>' +
                      '<div class="infoBox">' +
                        '<div class="popup-owner-side">' +
                          '<p>Female</p>' +
                          '<p>20 years old</p>' +
                        '</div>' +
                        '<div class="vl"></div>' +
                        '<div class="popup-dog-side">' +
                          '<p>Male </p>' +
                          '<p>5 years old</p>' +
                        '</div>' +
                      '</div>' +
                      '<a href="../profile2.html" class="a">See full profile  <img src="../../../static/arrowside.png"></a>' +
                      '<div class="iconsBox">' +
                        '<i><img id="addFriend" src="../../../static/addfriendgreen.png"></i>' +
                        '<i><img src="../../../static/navigategreen.png"></i>' +
                        '<i><img src="../../../static/pokegreen.png"></i>' +
                      '</div>' +
                    '</div>'+
                  '</div>'
          },
          {
            coords:{lat:31.782680, lng:35.209770},
            iconImage:'../../../static/GPSorenge.png',
            title: 'orange',
            contentMarkerOrange: 
                          '<div id="infoContentOrange">'+
                            '<div class="container2">' +
                              '<h1 class="popup-header">Your friends are out!</h1>' +
                              '<h1 class="popup-header">Join their walk</h1>' +
                              '<div>' +
                                '<img src="../../../static/lisa_dog.svg">' +
                              '</div>' +
                              '<h2 class="popup-header2Name">GILI & NILI</h2>' +
                              '<h2 class="popup-header2">Only 75m away!</h2>' +
                              '<a href="url" class="a">See full profile  <img src="../../../static/arrowside.png"></a>' +
                              '<div class="iconsBox">' +
                                '<i><img src="../../../static/navigateorange.png"></i>' +
                                '<i><img src="../../../static/pokeorange.png"></i>' +
                              '</div>' +
                            '</div>' + 
                          '</div>'  
          },
          {
            coords:{lat:31.782930, lng:35.210600},
            iconImage:'../../../static/GPSred.png',
            title: 'green',
            contentMarkerRed: 
                        '<div id="infoContentRed">'+
                          '<div class="container3">' +
                            '<h1 class="popup-header">Pay attention:</h1>' +
                            '<h1 class="popup-header">A lavrador is nearby...</h1>' +
                            '<div>' +
                              "<p class='popup-dog-side'>These two are on private mode. so you can't reach out this time.</p>" +
                            '</div>' +
                          '</div>' +
                        '</div>'  
          }
        ];

        // loop throw markers
        for(var i = 0; i < markers.length;i++){
          addMarker(markers[i]);
        }
      }
    </script>
    <div class="conteiner">
      <div class="topbar">
        <a href="#">
          <div class="icon">
            <i class="far fa-map" style="color: #FFF" aria-hidden="true" style="color: #FFF"></i>
            <i class="far fa-map" aria-hidden="true"></i>
          </div>
        </a>
        <a href="#">
          <div class="icon">
            <i class="far fa-bell" aria-hidden="true"></i></i>
            <i class="far fa-bell" aria-hidden="true"></i></i>
          </div>
        </a>
        <a href="../chat-page.html">
          <div class="icon">
            <i class="far fa-comments" aria-hidden="true"></i>
            <i class="far fa-comments" aria-hidden="true"></i>
          </div>
        </a>
        <a href="../profile1.html">
          <div class="icon">
            <i class="far fa-user-circle" aria-hidden="true"></i>
            <i class="far fa-user-circle" aria-hidden="true"></i>
          </div>
        <a href="#">
          <div class="icon">
            <div id="imgBar"></div>
          </div>
        </a>
        <!-- <a href="">log out</a> -->
        <!-- <a href="">map view</a>
        <a href="">settings</a>
        <a href="">chat</a> -->
      </div>

      <div id="map"></div>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvGXiGpfYhNinQDu-E-G4LGSyF_Rrv1H8&map_ids=a856c89da17dedb6&callback=initMap">
      </script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <div class="popup center">
      <!--<div class="icon">
        <i class="fa fa-check"></i>
      </div>-->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
      <h3 class="popup-header2">Wait a second! Read about your three possible walk modes before you start:</h3>
      <div class="container">
         <div class="img-col">
           <img src="../../../static/Pics/3walk-modes.svg" width="92" hight="30px" alt="">
         </div>
         <link rel="preconnect" href="https://fonts.gstatic.com">
         <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap" rel="stylesheet">
         <div class="description">
        Everyone can find me on map and contact me.
        <br /><br /><br />
        Only my friends can see me on map and contact me.
        <br /><br /><br />
        People can see my dog's breed on map, and that's it.
        </div>
      </div>

      <div class="gotit-btn">
        <a href="PAGE B.html">
        <button id="gotit-popup-btn">
          Got it
        </button>
      </a>
      </div>
    </div>
    <!--div class="center">
      <button id="open-popup-btn">
        Open Popup
      </button>
    </div>-->
    <script>
    document.getElementById("imgBar").addEventListener("click",function(){
      document.getElementsByClassName("popup")[0].classList.add("active");
    });
     
    document.getElementById("dismiss-popup-btn").addEventListener("click",function(){
      document.getElementsByClassName("popup")[0].classList.remove("active");
    });
    </script>
        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
        -->
      </body>
    </html>
